h1 {color: red;}
body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      color: #333;
      text-align: center;
      padding-top: 20%;
    }
    h1 {
      font-size: 2em;
    }
